body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#0f172a,#1e3a8a,#6366f1);
color:white;
}

.navbar{
background:white;
padding:12px 20px;
display:flex;
justify-content:space-between;
align-items:center;
position:relative;
}

.logo{
color:#e53238;
font-weight:bold;
}

.nav-links{
display:flex;
}

.nav-links a{
margin-left:10px;
text-decoration:none;
color:#333;
font-weight:bold;
}

.nav-links a:hover{
color:#6366f1;
}

h1,h2{
text-align:center;
}

.products{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:20px;
}

.card{
background:#3b82f6;
padding:10px;
border-radius:10px;
text-align:center;
}

.card img{
width:100%;
border-radius:10px;
}

select{
width:100%;
padding:5px;
margin-top:5px;
}

button{
width:100%;
padding:8px;
margin-top:5px;
border:none;
cursor:pointer;
background:#6366f1;
color:white;
}

button:hover{
background:#4f46e5;
}

.cart{
background:white;
color:black;
padding:15px;
margin:20px;
border-radius:10px;
}

#notify{
position:fixed;
bottom:20px;
right:20px;
background:#22c55e;
color:white;
padding:10px 15px;
border-radius:8px;
display:none;
}

.info-box{
background:rgba(255,255,255,0.9);
color:black;
padding:20px;
border-radius:10px;
max-width:800px;
margin:20px auto;
}

footer{
text-align:center;
padding:20px;
font-size:14px;
}

.menu-toggle{
font-size:26px;
cursor:pointer;
color:#333;
display:none;
}

@media (max-width:768px){

.menu-toggle{
display:block;
}

.nav-links{
display:none;
flex-direction:column;
background:white;
position:absolute;
top:60px;
right:20px;
width:150px;
padding:10px;
border-radius:10px;
z-index:1000;
}

.nav-links a{
margin:10px 0;
}

.show{
display:flex !important;
}
}
